.content {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100vw; overflow: hidden;}
.content h2 {background-color: #DADDE5; font-size: 12px; width: 100%; padding: 15px 0px 15px 0px; color: #7E88A8; text-align: center; margin-bottom: 0;}
.content div {width: 100%; gap: 2rem; background-color: #EBECF0; padding: 1rem 0;}
.content div div { padding: 0;}