.content {text-align: start; margin-bottom: 10rem;}
.content .boxTitle {text-align: start;}
.content .boxTitle h2 {text-align: start;}
.content .content_boxes {display: flex; align-items: center; justify-content: center; gap: 1rem; margin-top: 5rem;}
.content .box_content {width: 100%;}
.content .box_content h3 {font-size: 1.6em; font-weight: 700; color: #122F97; margin-bottom: 0.7rem; }
.content .box_content h4 {font-size: 0.9em; color: #122F97; margin-bottom: 0.7rem;}
.content .box_content p {font-size: 0.9em; color: #1F2127; margin-bottom: 0.7rem;}
.content .box_content ul {display: flex; gap: 1rem; list-style: none; margin: 0 0 0.7rem 0; padding: 0;}
.content .box_content ul li {border: 1px solid #122F97; color: #122F97; border-radius: 30px; padding: 5px 12px; font-size: 14px;}

@media (max-width: 868px) {
.content .content_boxes {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1rem; margin-top: 5rem;}
}