.content {text-align: justify; margin: 3rem 0 10rem 0; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.content .boxTitle {text-align: center; width: 60vw;}
.content .boxTitle h2 {text-align: center; margin: 0 0 20px 0; background: #FF611E; background: linear-gradient(to right, #FF611E 40%, #FFAC2D 59%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.content .boxTitle p {text-align: start; font-size: 20px;}
.content .boxTitle p span {background-color: #f54e00; color: #fff}
.content .content_boxes {display: flex; align-items: center; justify-content: center; gap: 4rem; margin-top: 5rem;}
.content .box_content {width: 80%; text-align: justify;}
.content .box_content h2 {font-weight: 700; color: #122F97; margin-bottom: 0.7rem; font-size: 34px; }
.content .box_content h3 {font-size: 21px; color: #122F97; margin-bottom: 0.7rem;}
.content .box_content p {font-size: 18px; color: #1F2127; margin-bottom: 0.7rem;}
.content .box_content ul {display: flex; flex-wrap: wrap; gap: 1rem; list-style: none; margin: 0 0 0.7rem 0; padding: 0; }
.content .box_content ul li {border: 1px solid #122F97; color: #122F97; border-radius: 30px; padding: 5px 12px; font-size: 18px;}
.content .box_content ul li:hover {border: 1px solid #FFF; color: #fff; background-color: #122F97; transition: 0.3s;}
.content a {background: linear-gradient(90deg, #E6571B 1.68%, #E69B29 96.56%); color: #fff; text-decoration: none; padding: 10px 0; display: flex; border-radius: 30px; margin-top: 1rem; width: 203px; display: flex; align-items: center; justify-content: center;}

@media (max-width: 868px) {
.content .box_content {text-align: start; width: 100%;}
.content .content_boxes {display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 3rem; margin-top: 5rem;}
.content .boxTitle {text-align: start; width: 100%;}
}