.content {overflow: hidden; width: 100%; margin-bottom: 8rem; margin-top: 5rem;}
.content h2 {color: #FF611E; margin-top: 1rem;}
.content .content_slide {width: 100%; display: flex !important; align-items: center; justify-content: center; flex-direction: column;}
.content .box_texts {padding: 0.7rem; border: 1px solid #D9D9D9; border-radius: 12px; margin: 0; justify-content: space-between;}
.content .content_slide .content_video {position: relative; width: 100vw; height: 100vh; top: 0; left: 0; display: flex; align-items: center; justify-content: center; background-color: #00000010;}
.content .content_slide .content_video iframe {width: 400px; height: 400px;}

.content div div div div {display: flex !important; flex-direction: column; align-items: center; justify-content: center; height: 560px; margin: 0;}
.content div div div div p {font-size: 12px;}
.content div div div {display: flex; gap: 1rem;}  


/* @media (max-width: 868px) {
.content div div div div {height: auto;}
.content div div div div div div .video {width: 40% !important; height: auto !important;}
} */