

.content { width: 100vw; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 2rem; background: url("../../assets/background-form.png" ) fixed; transform-style: preserve-3d; ;background-size: 100%; border-top: 1px solid #E6E6E6; box-shadow: -12px -8px 40px #000 inset;}
.content .boxContent {width: 100%; max-width: 600px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; background-color: #fff; padding: 40px; height: 736px; overflow: hidden ;border-radius: 16px; box-shadow: 0 0 4px 2px #fff;}
.content h2 {width: 260px; text-align: center; margin: 0;}
.content form {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; gap: 1rem; margin-top: 0; position: relative; height: 100%;  }
.content form .box_input {display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; width: 100%;}
.content form .box_input label {font-weight: 600; color: #000000; font-size: 13px; display: flex; gap: 1rem;}
.content form .box_input input {width: 100%; height: 40px; border-radius: 5px; border: 1px solid #B3B3B3; background-color: #FFF; padding: 0 0.7rem; color: #000; font-weight: 500; font-size: 1rem;}
.content form .box_input input::placeholder {color: #888888; font-size: 16px;}
.content .textInfo {margin-top: 2rem;}


.content form .box_buttons {display: flex; margin-top: 1rem; position: absolute; bottom: 0; width: 100%;  background-color: transparent; justify-content: space-between; padding-bottom: 1rem;}
.content p {text-align: center; margin: 0;}

.content .box_titleForm {display: flex; width: 100%; gap: 1rem; }
.content .box_titleForm .circleEtaps {width: 60px; height: 60px; display: flex;align-items: center; justify-content: center; flex-wrap: wrap; border-radius: 50%; overflow: hidden; position: relative;}
.content .box_titleForm .circleEtaps span {width: 50%; height: 50%; background-color: #E2E2E2;}
.content .box_titleForm .circleEtaps p {position: absolute; border-radius: 50%; z-index: 3; margin: 0; background-color: #FFF; width: 65%; height: 65%; display: flex; align-items: center; justify-content: center;}
.content .box_titleForm h3 {margin: 0; font-size: 1rem;}
.content .box_titleForm p {margin: 0; font-size: 13px; text-align: start;}

form .content_form {width: 100%; display: flex; flex-direction: column; justify-content: flex-start; padding-bottom: 0; gap: 1rem;}
.content form .box_input .boxOptions { display: flex; align-items: center; justify-content: flex-start; width: 100%; max-height: 400px;}
.content form .box_input label {margin-bottom: 0.7rem;}
.content form .box_input label p {margin: 0; font-weight: 600; display: flex; gap: 1rem;}
.content form .box_input .boxOptions label { display: flex; width: auto; margin: 0; font-weight: 500; margin-bottom: 0.5rem;}
.content form .box_input .boxOptions input { width: 20px; height: 20px; margin-right: 1rem;}
.content form .box_input select {width: 100%; height: 40px; border-radius: 5px; border: 1px solid #B3B3B3; background-color: #FFF; padding: 0 0.7rem; color: #B3B3B3; font-size: 1rem;}
.content form .box_input .dateComponent {width: 117px !important;}
.content form .box_input .dateComponent[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px !important;
}


.content .content_error {text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;}
.content .content_error .boxList { display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 1.3rem; margin-bottom: 2rem;}
.content .content_error .boxList span {display: flex; gap: 1rem; align-items: center; text-align: start;}
.content .content_error h3 {background: linear-gradient(to right, #FF611E 29%, #FFAC2D 30%); background-size: 200% auto; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: 100%; text-align: center;}


.content .textAge {text-align: start; font-size: 14px; line-height: 18px;}
.button_submit {border: none; background: linear-gradient(90deg, #E6571B 1.68%, #E69B29 96.56%); color: #fff; border-radius: 30px; padding: 10px 30px; font-size: 0.9rem;}
.button_remember {border: 1px solid #F3631E;  background-color: #FAFAFA; color: #F3631E; border-radius: 30px; padding: 10px 30px; font-size: 0.9rem;}

@media (max-width: 1024px) {
  .content {background: #fff;}
}

@media (max-width: 875px) {
  .content .boxContent {width: 100%; padding: 0;}
  .content .boxContent form {padding: 0 1rem; max-height: 90vh;}
  .content .boxContent form .content_form { overflow: auto;}
  .content form .box_input label {margin-bottom: 5px}
  .content p {font-size: 0.9rem; margin: 0;}
  form .content_form {padding-bottom: 0; gap: 0.7rem;}
  .content .textInfo {margin-top: 1rem; font-size: 0.8rem;}
}