.content {min-height: 90vh; background: #000B33;background-size: cover;display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;padding-top: 0;position: relative;}
.content .box_title { width: 100%; padding-top: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.content .box_title h1 { background: linear-gradient(to right, #FF611E 40%, #FFAC2D 10%); background-size: 200% auto; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center;}
.content .box_title button { display: flex; align-items: center; justify-content: flex-start; gap: 1rem; border: 0; background-color: transparent;}
.content .box_title p {margin-bottom: 0; color: #fff;}
.content .box_title a {background-color: orangered; color: #fff; text-decoration: none; padding: 0.7rem; display: flex; border-radius: 5px; margin-top: 1rem;}
.content .box_end {width: 100%;}
