.content {height: 95vh; width: 100%; background: #000B33;background-size: cover;display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start;padding-top: 0;position: relative;}
.content .box_title { width: 100%; padding-top: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.content .box_title h1 { background: linear-gradient(to right, #FF611E 40%, #FFAC2D 10%); background-size: 200% auto; -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center;}
.content .box_title button { display: flex; align-items: center; justify-content: flex-start; gap: 1rem; border: 0; background-color: transparent;}
.content .box_title p {margin-bottom: 0; color: #fff; text-align: start;}
.content .box_title a {background: linear-gradient(90deg, #E6571B 1.68%, #E69B29 96.56%); color: #fff; text-decoration: none; padding: 10px 28px; display: flex; border-radius: 30px; margin-top: 1rem;}
.content .box_end {width: 100%; display: flex; align-items: center; justify-content: center; position: absolute; bottom: -5rem;}

.content .boxVideo {width: 100%; max-width: 100px; position: absolute; top: 10%; left: 50%; z-index: 3; display: flex; align-items: center; justify-content: center;}

.content .triangule_right_bottom {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 50vw solid #f3631e;
  border-bottom: 10px solid transparent;
  position: absolute; 
  transform: rotate(0);
  bottom: -10px;
  right: 0;
  z-index: 2;
  margin: 0;
}

.content .triangule_left_bottom {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 50vw solid #FFF;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  transform: rotate(0);
  left: 0;
  z-index: 1;
  margin: 0;
}

@media (min-width: 868px) {
  .content .box_title {margin-top: 10rem;}
}