.content {width: 100%; margin-bottom: 5rem; display: flex; flex-wrap: wrap; justify-content: space-between;}
.content h3 {font-size: 1.2rem; margin: 2rem 0 1rem 0;}
.content ul {list-style: none; margin: 0; padding: 0; font-size: 12px; gap: 1rem; display: flex; flex-direction: column;}
.content ul li {display: flex; align-items: center; gap: 0.4rem;}

.content input {border-radius: 50%; overflow: hidden; background-color: red;}

.content input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 20px; height: 20px;
}
.content input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #F3631E;;
  border: 0;
  border-radius: 50px;
}

.content input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color:#0CC40C;
  border: 0;
  border-radius: 50px;

}
.content input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.content input[type=checkbox]:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}