.footer {position: relative; width: 100%; display: flex; align-items: center; justify-content: center; border-top: solid 10px #f3631e;}
.footer .content {width: 100%; background-color: #00145D; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0 1rem;}
.boxtop .triangleOne {position: absolute; right: 0; bottom: 0; z-index: 1;}
.boxtop .triangleTwo {z-index: 2; margin-top: 5px;}
.footer .content figure {display: flex; flex-direction: column; align-items: center; justify-content: center; padding-top: 5rem;}
.footer .content figure img {width: 90px;}
.footer .content figure div {display: flex; gap: 0.7rem; margin: 3rem 0;}
.footer .content figure div svg {font-size: 40px; color: #D6E1FF;}
.footer .content .imagePactual {}
.footer .content .gridImages {display: flex; flex-wrap: wrap; gap: 0.7rem; align-items: center; justify-content: center;}
.footer .content .gridImages .boxGridImages {display: flex; flex-wrap: wrap; gap: 0.7rem; align-items: center; justify-content: center;}
.footer .content .gridImages .boxGridImages img {width: 100px; background-color: #fff;}
.footer .content p {margin-bottom: 0; color: #fff; font-size: 15px; font-weight: 300; padding: 3rem 0; text-align: center;}

.footer .triangule_right_bottom {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-right: 50vw solid #00145D;
  border-bottom: 10px solid transparent;
  position: absolute; 
  transform: rotate(0);
  top: -2.5rem;
  right: 0;
  z-index: 2;
  margin: 0;
}

.footer .triangule_left_bottom {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-left: 50vw solid #f3631e;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: -2.5rem;
  transform: rotate(0);
  left: 0;
  z-index: 1;
  margin: 0;
}