.content {margin: 4rem 0 6rem 0; width: 100%;}
.content h2 {text-align: start;}
.content .dropdown { width: 100%; border-radius: 12px; border: 1px solid #FFD3AC; padding: 0.7rem; margin-bottom: 1rem;}
.content .dropdown button { width: 100%; padding: 0; display: flex; align-items: center; justify-content: space-between; background-color: transparent; border: 0; font-weight: 600; color: #1F2127;}
.content .dropdown p {margin-bottom: 0;}
.content .dropdown .rotateArrow {transform: rotate(180deg);}
.rotateArrow {transition: transform 0.3s ease-in-out;}
.active .rotateArrow { transform: rotate(180deg);}
.content .dropdown h3 {background: linear-gradient(to right, #FF611E 50%, #FFAC2D 80%); background-size: 200% auto; font-size: 1.3em; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: 100%; margin-bottom: 0;}
.content .dropdown svg {color: #F3631E;}
.content .dropdown ul {margin-top: 2rem; padding: 0; font-size: 0.9em; list-style: none;}
.dropdownContent {animation: openDropdown 0.3s ease-in-out forwards; opacity: 0; transform: translateY(-10px);}
.dropdownContent.active { opacity: 1; transform: translateY(0);}
@keyframes openDropdown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}


