.content {margin: 4rem 0 6rem 0; width: 100%; padding: 0 1rem;}
.content h2 {text-align: start;}
.content .module {margin-bottom: 3rem; display: flex; gap: 3rem;}
.content .module div {display: flex; flex-direction: column;}
.content .module img {width: 530px; border-radius: 12px; border: 2px solid #F3631E;}
.content .module img:hover {scale: 1.1; transition: 0.3s;}
.content .module h3 {margin: 0; color: #122F97; margin-bottom: 2rem; font-size: 20px}
.content .module div ul {list-style: none; margin: 0; padding: 0; gap: 0.6rem; display: flex; flex-direction: column; font-weight: 400;}

@media(max-width: 893px) {
  .content .module {flex-direction: column;}
.content .module div {flex-direction: column;}

}