.content {width: 100%; margin-bottom: 5rem; margin-top: 2rem; display: flex; justify-content: space-between;}
.content h2 {text-align: start; margin-bottom: 1rem;}
.content .content_dropdowns {display: flex; flex-direction: column; gap: 1rem;}
.content .content_dropdowns .dropdown { width: 100%; border-radius: 12px; border: 1px solid #D9D9D9; padding: 0.7rem; animation: openDropdown 0.3s ease-in-out forwards; opacity: 0; transform: translateY(-10px);}
.content .content_dropdowns .dropdown button { width: 100%; padding: 0; display: flex; align-items: center; justify-content: space-between; background-color: transparent; border: 0;}
.content .content_dropdowns .dropdown button p {width: 80%; font-weight: 600; color: #1F2127;}
.content .content_dropdowns .dropdown p {margin-bottom: 0; text-align: start;}
.content .content_dropdowns .dropdown svg {color: #A7ADC4}
.content .content_dropdowns .dropdown .rotateArrow {transform: rotate(180deg);}
.content .content_dropdowns .dropdown .dropdownContent {margin-top: 1rem; font-size: 12px;}
.content .content_dropdowns { width: 100%;}
.content .boxDoubts {margin-top: 3rem; display: flex; flex-direction: column; align-items: flex-end; gap: 2rem;}
.content .boxDoubts .doubtsEmail {width: 100%; padding: 25px 30px; display: grid; text-align: center; border-radius: 15px; border: 1px solid #FFD3AC; gap: 1rem;}
.content .boxDoubts .doubtsEmail h3 {font-size: 1.2rem; margin-bottom: 0;}
.content .boxDoubts .doubtsEmail p {margin-bottom: 0;}
.content .boxDoubts .doubtsEmail a {text-decoration: none; font-weight: 600; color: #F3631E}
.content .boxDoubts .doubtsWpp {display: none; gap: 1.2rem; align-items: center; justify-content: space-between; border-radius: 10px; border: 1px solid #E6E6E6; padding: 15px;}
.content .boxDoubts .doubtsWpp img {width: 60px;}
.content .boxDoubts .doubtsWpp p {margin-bottom: 0; font-size: 0.875rem;}

.dropdownContent {animation: openDropdown 0.3s ease-in-out forwards; opacity: 0; transform: translateY(-10px);}
.dropdownContent.active { opacity: 1; transform: translateY(0);}
@keyframes openDropdown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}
.dropdownContent p {font-size: 1rem;}

@media (min-width: 868px) {
  .content .boxDoubts {width: 40%; margin-top: 0;}
  .content .boxDoubts .doubtsEmail {max-width: 337px;}
  .content .boxDoubts .doubtsWpp {max-width: 337px;}
  .content {display: flex; flex-wrap: wrap; column-gap: 1rem;}
  .content h2 {width: 100%;}
  .content .content_dropdowns {width: 55%;}
}
