/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* { outline: transparent !important; }

html { scroll-behavior: smooth; }

::-webkit-scrollbar { width: 5px; background: transparent; }

::-webkit-scrollbar-thumb { background: gray; border-radius: 0; }

html, body { color: #000D25; min-width: 320px; font-size: 16px; line-height: 1.6; background-color: #FFFFFF; font-smoothing: antialiased; }

body { background: #FFFFFF; overflow-x: hidden; position: relative; font-family: 'Inter', sans-serif; }

strong { font-weight: 700; }
p {font-size: 16px;}
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 30px; font-weight: 700; line-height: 1.4; }
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 900; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: inherit; font-size: 70%; font-weight: inherit; }
p {font-weight: 400;}

img { max-width: 100%; height: auto; }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show,.nav-link:focus{color: rgb(255, 172, 45);}

main {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;}
main .box-main {max-width: 1300px; width: 95vw; display: flex; flex-direction: column; align-items: center; padding: 0 1rem;}

.open {right: 0 !important;}